version: "3.9"

services:
  db:
    image: postgres:16
    platform: linux/amd64
    env_file:
      - .docker-env
    volumes:
      - ./data/db:/var/lib/postgresql/data

  web:
    build: .
    platform: linux/amd64
    env_file:
      - .app_env
      - .docker-env
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
